pipeline/PL_Bronze_Ingest.json
{
	"name": "PL_Bronze_Ingest",
	"properties": {
		"activities": [
			{
				"name": "foreachfolder",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('table_list')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_CSV_To_Bronze",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "bronze/raw/@{item()}",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "*.csv",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Info",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "LS_ADLS_Olist",
											"type": "LinkedServiceReference"
										},
										"path": "olist-ecommerce/adf_logs/pipeline-runs"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_CSV_Bronze_Source",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Parquet_Bronze_Sink",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "NB_CSV_To_Delta",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Copy_CSV_To_Bronze",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/rajinigcp@gmail.com/olist/bronze/nb_bronze_ingest",
								"baseParameters": {
									"table_name": {
										"value": "@item()",
										"type": "Expression"
									},
									"run_date      ": {
										"value": "@variables('run_date')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ADB_Olist",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Set_RunDate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_date",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"table_list": {
				"type": "Array",
				"defaultValue": [
					"orders",
					"order_items",
					"customers",
					"products",
					"payments",
					"reviews",
					"sellers",
					"geolocation",
					"category_translation"
				]
			},
			"run_date": {
				"type": "String"
			},
			"folder_list": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-05-26T08:11:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}