pipeline/PL_Master_Orchestrator.json
{
	"name": "PL_Master_Orchestrator",
	"properties": {
		"activities": [
			{
				"name": "Set_RunDate",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_date",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Run_Bronze",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set_RunDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Bronze_Ingest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Run_Silver",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Run_Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Silver_Transform",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Run_Gold",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Run_Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Gold_Aggregation",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"run_date": {
							"value": "@variables('run_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Pipeline_Complete",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Run_Gold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"variables": {
			"run_date": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-05-26T11:31:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}